html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

// ------



.link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border: none;
  cursor: pointer;

  margin: 0;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo */
/* Логотип 1 */
.logo-icon {
  width: 186px;
  height: 124px;
  left: 91px;
  top: 12px;
}
